#timeStamp {
  font-size: 8px;
  color: grey;
}

#msg {
  font-size: 24px;
}

#user {
  font-size: 16px;
  color: dimgray;
}

#pic {
  margin-bottom: 10px;
}

.scroll {
  max-height: 530px;
  overflow-y: auto;
}

ul {
  list-style-type: none;
}
