#title {
  text-align: center;
}

#list:hover {
  background-color: darkgrey;
  cursor: pointer;
}

.selected {
  background-color: darkgrey;
}

#form {
  margin-bottom: 8px;
}

#value {
  margin-right: 40px;
}
#stock {
  margin-left: 20px;
}
